# Tablas de contingencia

In [99]:
datos <-c('D','F', NA, 'F', 'F', 'F', 'F', 'D', 'M', 'M', 'M',NA)

# D Desconocido
# M Masculino
# H Femenino

table(datos)

datos
D F M
2 5 3

In [100]:
# De la tabla anterior vemos que NO aparece el conteo de los NA, para obtenerlo usamos lo siguiente.


table(datos, useNA='always')

datos
   D    F    M <NA>
   2    5    3    2

In [101]:
table(datos, exclude=c('D'))

datos
   F    M <NA>
   5    3    2

In [102]:
filtro <- table(datos, exclude=c('D', NA))
filtro

datos
F M
5 3

In [103]:
table(datos)["M"]

table(datos)["F"]

table(datos)["D"]

sum(table(datos))

M
3

F
5

D
2

[1] 10

In [104]:
edad <-c('10','39', NA, '32', '54', '54', '14', '21', '56', '67', '56',NA)


# tabla de frecuencias absolutas para ver cómo se relaciona 
# el edad con datos del ejemplo anterior.

table(edad, datos)


tablaFrecuencias <- table(edad, datos)
tablaFrecuencias

    datos
edad D F M
  10 1 0 0
  14 0 1 0
  21 1 0 0
  32 0 1 0
  39 0 1 0
  54 0 2 0
  56 0 0 2
  67 0 0 1

    datos
edad D F M
  10 1 0 0
  14 0 1 0
  21 1 0 0
  32 0 1 0
  39 0 1 0
  54 0 2 0
  56 0 0 2
  67 0 0 1

### Frecuencias relativas


$$ f_i = \frac{n_i}{n} $$

######  Función prop.table

La función prop.table se utiliza para crear tablas de frecuencia relativa a partir de tablas de frecuencia absoluta, la estructura de la función se muestra a continuación.

In [105]:
prop.table(x=tablaFrecuencias, margin=NULL)

    datos
edad   D   F   M
  10 0.1 0.0 0.0
  14 0.0 0.1 0.0
  21 0.1 0.0 0.0
  32 0.0 0.1 0.0
  39 0.0 0.1 0.0
  54 0.0 0.2 0.0
  56 0.0 0.0 0.2
  67 0.0 0.0 0.1

In [106]:
prop.table(table(datos))
100*prop.table(table(datos))
table(datos)/length(datos)
names(which(table(datos)==3))

datos
  D   F   M
0.2 0.5 0.3

datos
 D  F  M
20 50 30

datos
        D         F         M
0.1666667 0.4166667 0.2500000

[1] "M"

In [107]:
moda <- function(d){
  names(which(table(d)==max(table(d))))
}

valor_moda = moda(datos)

In [108]:
x<-paste("La moda es : ",valor_moda)
x

[1] "La moda es :  F"

######  Función addmargins

Esta función se puede utilizar para agregar los totales por filas o por columnas a una tabla de frecuencia absoluta o relativa. La estructura de la función es la siguiente.

In [109]:
addmargins(A=tablaFrecuencias)

     datos
edad  D F M Sum
  10  1 0 0  1
  14  0 1 0  1
  21  1 0 0  1
  32  0 1 0  1
  39  0 1 0  1
  54  0 2 0  2
  56  0 0 2  2
  67  0 0 1  1
  Sum 2 5 3 10

In [110]:
addmargins(A=tablaFrecuencias,margin=1)

     datos
edad  D F M
  10  1 0 0
  14  0 1 0
  21  1 0 0
  32  0 1 0
  39  0 1 0
  54  0 2 0
  56  0 0 2
  67  0 0 1
  Sum 2 5 3

In [111]:
addmargins(A=tablaFrecuencias,margin=2)

    datos
edad D F M Sum
  10 1 0 0 1
  14 0 1 0 1
  21 1 0 0 1
  32 0 1 0 1
  39 0 1 0 1
  54 0 2 0 2
  56 0 0 2 2
  67 0 0 1 1